* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #ffffff;
  overflow: hidden;
}

.stage {
  position: relative;
  width: 2000px;
  height: 1000px;
  display: grid;
  place-items: center;
  background-color: #eed4f3;
  /*background-image:
    linear-gradient(45deg, #dddddd 25%, transparent 25%),
    linear-gradient(-45deg, #dddddd 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #dddddd 75%),
    linear-gradient(-45deg, transparent 75%, #dddddd 75%);*/
  background-position: 0 0, 0 32px, 32px -32px, -32px 0;
  background-size: 64px 64px;
}

.chat-preview {
  width: var(--chat-preview-width, 1600px);
  height: var(--chat-preview-height, 3000px);
}

.chat-viewport {
  position: relative;
  width: 1600px;
  height: 3000px;
  overflow: hidden;
  transform: scale(var(--chat-preview-scale, 1));
  transform-origin: top left;
}

.chat-stack {
  height: 100%;
  width: 100%;;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f0d4f3;
  gap: 150px;
}


.message-bubble {
  --avatar-message-gap: 45px;

  position: relative;
  display: flex;
  gap: var(--avatar-message-gap);

  width: fit-content;
  height: fit-content;
  max-width: 100%;
}

.bubble-content {
  --spark1-width: 40px;
  --spark2-width: 70px;
  --spark1-top: -20px;
  --spark2-top: -50px;
  --highlight-color: #e2bfff;
  --botright1-width: 90px;
  --botright1-bot: -40px;
  --botright1-right: 30px;
  --botright1-rotate: 0deg;
  --botright2-width: 65px;
  --botright2-bot: 5px;
  --botright2-right: -15px;
  --botright2-rotate: 0deg;
  --botright2-z: 4;

  position: relative;
  flex: 0 1 auto;
  min-width: 0;
}

.message-bubble[data-role="fox"] .bubble-content {
  --spark1-width: 30px;
  --spark1-top: -15px;
  --spark2-width: 50px;
  --spark2-top: -40px;
  --highlight-color: #f0bee5;
  --botright1-width: 202px;
  --botright1-bot: -30px;
  --botright1-right: -70px;
  --botright1-rotate: -6.5deg;
}

.bubble-avatar {
  --avatar-size: 156px;
  --line-width: 6px;

  width: var(--avatar-size);
  height: var(--avatar-size);

  border: var(--line-width);
  border-radius: 50%;
  overflow: visible;

  top: 0px;

  position: relative;
}
